name: provasub
description: "A new Flutter project."

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.10.1


dependencies:
  flutter:
    sdk: flutter
  
  # Adicionar estas dependências do Firebase
  firebase_core: ^2.24.2 # Verifique a versão mais recente
  firebase_auth: ^4.15.2 # Verifique a versão mais recente
  # firebase_database: ^10.4.0 # Necessário para a próxima etapa (Realtime Database)

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0



flutter:


  uses-material-design: true
